body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f2e53, #1c3a64);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #fdb813;
  color: #fdb813;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

select, button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.button-maggiore {
  background-color: #2eb82e; /* verde acceso */
  color: white;
  }
.button-dentro {
  background-color: #2eb82e; /* verde acceso */
  color: white;
  }
.button-pari{
  background-color: #2eb82e; /* verde acceso */
  color: white;
  }
.button-minore {
  background-color: #e63946; 
  color: white;
  }
.button-fuori {
  background-color: #e63946; 
  color: white;
   }
  .button-dispari{
  background-color: #e63946; 
  color: white;
     }
.hidden {
  display: none;
}

img {
  width: 120px;
  height: auto;
  margin-top: 1rem;
}
.progress-path {
  display: flex;
  gap: 8px;
  margin: 10px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.progress-step {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a3c9f7;
  border: 2px solid #0f2e53;
  color: #0f2e53; 
  transition: background-color 0.3s;
   padding-bottom: 10px;
}

.progress-step.active {
 background-color: #2eb82e;
}

.progress-step.future {
   background-color: #f6f0e6;
}

.progress-step.current {
 background-color: #ff6f00;
  border: 2px solid #ffb300;
  color: white;
}


#rulesToggle {
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: underline;
}

#scorePanel {
  margin: 1rem 0;
  font-size: 1.1rem;
}


#toggle-regolamento {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

#regolamento-popup {
  display: none;
  position: fixed;
  top: 50px;
  right: 10px;
  background: #f6f0e6; 
  color:  #0f2e53;
  border: 1px solid #ffb300;
  padding: 15px;
  max-width: 300px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#useJollyBtn {
  margin: 10px 0;
  padding: 8px 12px;
  background: #f7931d;
  color: white; 
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}
.multiplier-label {
  font-size: 0.9rem;
  margin-top: 20px;  /* spazio maggiore */
  color: #fdb813;
  font-weight: bold;
  text-align: center;
}

.jackpot {
  color: #ffdf00;
  font-size: 1rem;
  text-shadow: 0 0 6px red;
}
